<h1>Welcome to the Homepage</h1>

<%= link_to 'Articles listing', articles_path %> |
<%= link_to 'About page', about_path %>

<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; Kenji Tomita</small>
  </div>
</footer>
